*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.calcualtion__grid{
    margin-top: 20rem;
    margin-left: 1.5rem;
    display: grid;
    grid-template-columns: 100rem 100rem repeat(3, 3fr);
    grid-gap: 10px;
    margin-top: 20px;
    padding: 2px 2px 2px 2px;
}

.result__grid{
    border: #4CAF50 1px solid;
    display: grid;
    width: fit-content;
    position: relative;
    left: 41%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    align-items: center;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 2.5rem;
    

}
.btn__click{
    margin-top: 1rem;
    padding: 10px;
    width: 5em;
    position: relative;
    left: 45%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h5{
    text-align: left;
    margin-left: 2rem;
}